settings {
       logfile    = "/home/{{ user }}/log/lsyncd.log",
       statusFile = "/home/{{ user }}/log/lsyncd.status",
       nodaemon   = true,
}


-- Sync HiSeq raw data
sync{default.rsyncssh, source="{{ data_dir }}/hiseq_data/Runs", host="{{ dest_server }}", targetdir="{{ data_dir }}/{{ dest_data }}", exclude=".AppleDouble", exclude={"nosync", "gls_events", "gls_events_hiseqx"}, delete=false}

-- Sync MiSeq raw data
sync{default.rsyncssh, source="{{ data_dir }}/miseq_data", host="{{ dest_server }}", targetdir="{{ data_dir }}/miseq_data", exclude=".AppleDouble", exclude={"nosync", "gls_events", "gls_events_hiseqx"}, delete=false}
