[archive]
root = /home/hiseq.bioinfo/
swestore_staging = /srv/illumina/hiseq_data/nosync/,/srv/illumina/miseq_data/nosync/
server = milou-b.uppmax.uu.se
user = guilc

[production]
root = /home/hiseq.bioinfo
swestore = /proj/a2010002/swestore

[project]
root = /proj/a2012043/private/nobackup/projects
repos = /proj/a2012043/private/repos
finished = /proj/a2012043/private/nobackup/projects/finished_projects

[storage]
{{ ansible_hostname }} = /srv/illumina/hiseq_data,/srv/illumina/miseq_data
lsyncd_log = /home/hiseq.bioinfo/log/lsyncd.log

[log]
file = /home/hiseq.bioinfo/log/pm-$USER.log

[deliver]
uppnex_project_root = /proj
uppnex_project_delivery_path = INBOX

[runqc]
root = /proj/a2010002/data/runQC
rsync_sample_opts = -amnv  --include='*/' --include=\"[0-9][0-9]_*.txt\" --include=\"bcbb_software_versions.txt\" --include=\"*.yaml*\" --include='*screen.txt' --include='*summary.txt' --include='*fastqc_data.txt' --include='*metrics' --exclude='tmp' --exclude='*'

[db]
url = tools.scilifelab.se
user = production
password = {{ pm.production_pass }}

[instrument]
config = /home/funk_001/opt/config/hiseq.yaml

[gdocs]
credentials_file = /home/funk_001/opt/config/gdocs_credentials
gdocs_folder = Project read counts
gpl_spreadsheet = Genomics Project List
gpl_worksheet = Ongoing