log:
    file: /home/{{ user }}/log/taca.log

storage:
    data_dirs:
        - {{ data_dir }}/hiseq_data/Runs
    archive_dirs:
        - {{ data_dir }}/hiseq_data/Runs/nosync
    irods:
        irodsHome: /ssUppnexZone/proj/a2010002
