[supervisord]
logfile=/home/{{ user }}/log/supervisord.log
pidfile=/home/{{ user }}/log/supervisord.pid

[program:ssh]
command=/usr/bin/ssh {{ super_user }}@{{ super_host }} -L {{ source_port }}:{{ analysis_host }}:{{ remote_port }} -N
autorestart=true
