#TODO: Doublecheck and integrate this field
server_status:
    command: df -h
    servers:
        preproc1.scilifelab.se: /srv/illumina
        preproc2.scilifelab.se: /srv/illumina
        seq-nas-1.scilifelab.se: /home
        seq-nas-2.scilifelab.se: /home
        seq-nas-3.scilifelab.se: /home
        nas-6.scilifelab.se: /home
        nas-7.scilifelab.se: /home
        nas-8.scilifelab.se: /home
        nas-9.scilifelab.se: /home
        nas-10.scilifelab.se: /home
        clinical-nas-2.scilifelab.se: /home
        b5.biotech.kth.se: /mnt/illumina
        comicbookguy.scilifelab.se: /home
    user: hiseq.bioinfo
log:
    file: /home/hiseq.bioinfo/log/taca.log

storage:
    data_dirs:
        - /srv/illumina/hiseq_data
        - /srv/illumina/miseq_data
        - /srv/illumina/HiSeq_X_data
    archive_dirs:
        HiSeq: /srv/illumina/hiseq_data/nosync
        MiSeq: /srv/illumina/miseq_data/nosync
        HiSeqX: /srv/illumina/HiSeq_X_data/nosync
cleanup:
    processing-server:
        days: 10
statusdb:
    url: tools.scilifelab.se
    username: production
    password: MGVmNjVkNzJlOTU1NmFh
    port: 5984
    xten_db: x_flowcells
mail:
    recipients: genomics-bioinfo@scilifelab.se
# Section for the preprocessing of raw data
analysis:
    HiSeqX:
        QC:
            max_percentage_undetermined_indexes_pooled_lane: 5
            max_percentage_undetermined_indexes_unpooled_lane: 20
            minimum_percentage_Q30_bases_per_lane: 75
            minimum_yield_per_lane: 305000000
            max_frequency_most_represented_und_index_pooled_lane: 5
            max_frequency_most_represented_und_index_unpooled_lane: 40
        bcl2fastq:
            bin: /home/hiseq.bioinfo/opt/bcl2fastq_2.17/usr/local/bin/bcl2fastq
            options:
                - output-dir: Demultiplexing
                - loading-threads: 3
                - demultiplexing-threads: 6
                - processing-threads: 12
                - writing-threads: 3
        samplesheets_dir: /srv/mfs/samplesheets/HiSeqX
        analysis_server:
            host: milou-b.uppmax.uu.se
            port: 666
            user: vezzi
            sync: 
                data_archive: /proj/a2010002/archive/
                include:
                    - "*.xml"
                    - "*.htm"
                    - "*.html"
                    - "*.fastq.gz"
                    - "*.csv"
    HiSeq:
        QC:
            max_number_undetermined_reads_simple_lane: 5000000
            max_percentage_undetermined_indexes_simple_lane: 5
            max_percentage_undetermined_indexes_NoIndex_lane: 30
            max_frequency_most_represented_und_index_NoIndex_lane: 40
        bcl2fastq:
            bin: /home/hiseq.bioinfo/opt/bcl2fastq_2.17/usr/local/bin/bcl2fastq
            options:
                - output-dir: Demultiplexing
                - loading-threads: 3
                - demultiplexing-threads: 6
                - processing-threads: 12
                - writing-threads: 3
        samplesheets_dir: /srv/mfs/samplesheets/
        analysis_server:
            host: milou-b.uppmax.uu.se
            port: 666
            user: vezzi
            sync:
                data_archive: /proj/a2010002/archive/
                include:
                    - "*.xml"
                    - "*.htm"
                    - "*.html"
                    - "Demultiplexing/**"
                    - "*.csv"
    MiSeq:
        QC:
            max_number_undetermined_reads_simple_lane: 5000000
            max_percentage_undetermined_indexes_simple_lane: 5
            max_percentage_undetermined_indexes_NoIndex_lane: 30
            max_frequency_most_represented_und_index_NoIndex_lane: 40
        bcl2fastq:
            bin: /home/hiseq.bioinfo/opt/bcl2fastq_2.17/usr/local/bin/bcl2fastq
            options:
                - output-dir: Demultiplexing
                - loading-threads: 3
                - demultiplexing-threads: 6
                - processing-threads: 12
                - writing-threads: 3
        samplesheets_dir:
        analysis_server:
            host: milou-b.uppmax.uu.se
            port: 666
            user: vezzi
            sync:
                data_archive: /proj/a2010002/archive/
                include:
                    - "*.xml"
                    - "*.htm"
                    - "*.html"
                    - "*.fastq.gz"
                    - "*.csv"
   # Directories where TACA will look for new data to be processed
    data_dirs:
        - /srv/illumina/HiSeq_X_data
        - /srv/illumina/hiseq_data
        - /srv/illumina/miseq_data
    # finished_dir is the direcory suffix that TACA will use to store flowcells after being
    # processed and transferred. The end finished_dir directories will be
    # data_dir/finished_dir for data_dir in data_dirs
    # finished_dir: nosync
    # status_dir indicates the directory where TACA will store the CSV file used
    # to keep track of which flowcells have already been processed and transferred
    status_dir: /home/hiseq.bioinfo/log

bioinfo_tab:
    hiseq_samplesheets: /srv/mfs/samplesheets
    xten_samplesheets: /srv/mfs/samplesheets/HiSeqX
    b5_transfer: /srv/mfs/transfer/transferred.db
    data_dirs:
        - /srv/illumina/miseq_data
        - /srv/illumina/HiSeq_X_data
        - /srv/illumina/hiseq_data

mfs_path: /srv/mfs/

